<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="imports-css(title)">
<title th:text="${title}">Sistema Bancario</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link th:href="@{~/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
	rel="stylesheet" />

</head>
<body>
	<div th:fragment="barramenu(pagina)">
		<style>
body {
	background: rgb(230, 255, 253);
	background: linear-gradient(243deg, rgba(230, 255, 253, 1) 0%,
		rgba(0, 212, 255, 1) 100%);
}

table {
	background: rgb(255, 255, 255);
}

thead {
	background: rgb(220, 220, 220);
}
.card-header {
	background: rgba(255,255,255,0.9);
}

td a:link, td a:visited {
	color:black;
}
.card-body {
	background: rgb(255, 255, 255);
}
</style>

		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
				<a class="navbar-brand" href="/">Sistema Bancario </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#textoNavbar" aria-controls="textoNavbar"
					aria-expanded="false" aria-label="Alterna navegação">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="textoNavbar">
					<ul class="navbar-nav mr-auto" sec:authorize="hasRole('ROLE_CLT')">
						<li class="nav-item"
							th:classappend="${pagina == 'clientes' ? 'active' : ''}"><a
							class="nav-link" th:href="@{~/clientes/minhascontas}">Contas</a></li>
						<li class="nav-item"
							th:classappend="${pagina == 'pacotes' ? 'active' : ''}"><a
							class="nav-link" th:href="@{~/pacotes}">Pacotes</a></li>
					</ul>
					<ul class="navbar-nav mr-auto" sec:authorize="hasRole('ROLE_ADMIN')">
						<li class="nav-item"
							th:classappend="${pagina == 'operadores' ? 'active' : ''}"><a
							class="nav-link" th:href="@{~/operadores}">Operadores</a></li>
						<li class="nav-item"
							th:classappend="${pagina == 'clientes' ? 'active' : ''}"><a
							class="nav-link" th:href="@{~/clientes}">Clientes</a></li>
						<li class="nav-item" 
							th:classappend="${pagina == 'contas' ? 'active' : ''}"><a
							class="nav-link" th:href="@{~/contas}">Contas</a></li>
						<li class="nav-item"
							th:classappend="${pagina == 'pacotes' ? 'active' : ''}"><a
							class="nav-link" th:href="@{~/pacotes}">Pacotes</a></li>
						<li class="nav-item"
							th:classappend="${pagina == 'transacoes' ? 'active' : ''}"><a
							class="nav-link" th:href="@{~/transacoes}">Transações</a></li>
					</ul>
					<a sec:authorize="isAuthenticated()" class="btn btn-outline-danger" style="float: right" th:href="@{~/logout}" role="button">Sair</a>
				</div>
			</nav>

		</div>
	</div>

	<div th:fragment="mensagens">
		<div th:if="${not #strings.isEmpty(msgErros)}"
			class="alert alert-danger alert-dismissible fase show" role="alert">
			<p th:each="msg : ${msgErros}" th:text="${msg.getDefaultMessage()}"></p>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div th:if="${not #strings.isEmpty(msgSucesso)}"
			class="alert alert-success alert-dismissible fade show" role="alert">
			<p th:each="m : ${msgSucesso}" th:text="${m}"></p>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<div th:fragment="imports-js">
		<script th:src="@{~/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script
			th:src="@{~/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>
	</div>

</body>
</html>